include ../zenko/hgroup


div
    +hg('qwe')

div
    +hg('qwe')
        p asd
        p zxc

div
    +hg('qwe')
        +hg('zxc')
            +hg('rty')
                +hg('fgh')
                    +hg('vbn')
                        +hg('fgh')
                            +hg('uio')
                        +hg('jkl')



div
    +hg('qwe')
        +hg('zxc')
            +hg('rty')
    +hg('fgh')
        +hg('vbn')
            +hg('fgh')



div
    +hg('qwe')#asd.zxc