include ../zenko/tables

table
    +trh('qwe','asd').zxc
        +_.rty
    +tr('qwe','asd')
    +tr('qwe')#asd.zxc
    +tr('qwe')
        +_#asd.zxc
    +tr('asd')
        th.zxc qwe
    +tr('asd')
        +_.zxc
        th.rty qwe